@import "./reset.css";
@import "./media.css";

body {
  color: #000000;
}

.wrapper {
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  max-width: 1440px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.logo {
  width: 287px;
  height: 82px;
  background: #ff0000;

  font-family: "Arial";
  font-style: italic;
  font-weight: 700;
  font-size: 60px;
  line-height: 69px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.date {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;
  margin-top: 38px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 62px;
}

.image_block {
  display: flex;
  flex-direction: column;
  min-width: 390px;
  min-height: 260px;
  margin-top: 30px;
  align-items: center;
}

.img img {
  max-width: 390px;
  max-height: 260px;
}

.pages {
  margin-top: 50px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.pages::after {
  content: " →";
}

.text_block {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.text_block_date {
  font-weight: 400;
  font-size: 20px;
}

.text_block_title {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 24px;
}

.text_block_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

span {
  background: red;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.nav {
  margin-top: 125px;
  margin-bottom: 99px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 400;
  font-size: 20px;
  gap: 3px;
}
.nav_link {
  color: #000000;
}
